
<!--include header-->
<%- include('include/_header')%>
<!--/include header-->

<!--Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/add-food-item" class="border-shadow">
            <span class="text-gradient">Add New Food Item <i class="fa-solid fa-bowl-rice"></i></span>
            </a>
        </div>
        <!--form handeling-->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>S.No.</th>
                        <th>Food Item</th>
                        <th>Food Type</th>
                        <th>Storage</th>
                        <th>Purchased/Prepared On</th>
                        <th>Remind Me On</th>
                        <th>Alert Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_show')%>
                </tbody>
            </table>
        </form>
       
    </div>
</main>
<!--/Main Site-->

<!--include footer-->
<%- include('include/_footer')%>
<!--/include footer-->