        <!--form handeling-->
        <form action="/api/foodlist" method="POST" id="add_food_item">
            <div class="new_food_item">
                <div class="form-group">
                    <label for="food_item" class="text-light">Food Item</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="food_item" value="" placeholder="Your food item">
                </div>
                <div class="form-group">
                    <label for="ftype" class="text-light">Select Food Type</label>
                    <select name="ftype" id="food-type">
                        <option value="Cookable">Cookable</option>
                        <option value="Non-cookable">Non-cookable</option>
                        <option value="Cooked">Cooked</option>
                        <option value="Fat">Fat</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Protein">Lentils/Beans/Peas</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fstorage" class="text-light">Select Food Storage Condition:</label>
                        <select name="fstorage" id="food-storage">
                            <option value="At Room Temprature">At Room Temprature</option>
                            <option value="In Refrigerator">In Refrigerator</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="pdate" class="text-light">Food Purchased/Prepared Date:</label>
                    <input type="date" name="pdate" value="" id="pdate">
                </div>
                <div class="form-group">
                    <label for="rdate" class="text-light">Reminder Date:</label>
                    <input type="date" name="rdate" value="" id="rdate">
                </div>
                <div class="form-group">
                    <label for="atime" class="text-light">Get Alert On:</label><br>
                    <input type="time" name="atime" value="" id="atime" min="0" max="12">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
        </form>